body{
    text-align:center;
}

h1 {
    font-size:4em;
}

p {
    margin: 5px 0px 0px 0px;
}

button {
    border: 0px solid;
    font-size:1.4em;
    background-color:#fff;
    padding: 5px;
    margin-right:10px;
    outline:0;
    color:#428bca;
}

.border{
    border-width:1px;
    border-style: solid;
    border-color: #000;
}

.titledesc{
    font-size:1.4em;
    color: #999;
}

.title{
}


.overlay{
    top:0;
    left:0;
    position: absolute;
    overflow: hidden;
    display: none;
    cursor: pointer;
    background-color: #E5E5E5;
    width:100%;
    height:100%;
    text-align:center;
}

.overlaydesc {
    color: #585858;
    font-size: 1.25em;
    padding-left: 15px;
    padding-right: 15px;
}

#grid{
    padding: 2em 5em 2em 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-title {
    margin-top:30px;
    text-align:center;
    color:#000;
}

.grid-item {
    width: 15em;
    height: 15em;
    font-size: 100%;
    margin: 20px;
    display: block;
    color: #fff;
    border-radius: 3px;
    z-index: 1;
    transition: all 0.5s linear;
    overflow:hidden;
}

.grid-item img{
    overflow: hidden;
    border-radius: 4px;
    height:100%;
    position: relative;
}

.button-group {
    padding: 0 30px 20px 30px;
    margin-top: 20px;
}

.header {
    margin-left:15px;
    margin-right:15px;
}

/*-----------LINKS--------------------*/

.highlight {
    /*-colour for selected category-*/
    color:#000;
}

.links {
    font-size:1.4em;
}

a:link {
    color:#428bca;
    text-decoration: none;
}
a:visited {
    color:#428bca;
    text-decoration: none;
}
a:hover {
    color:#428bca; 
    text-decoration: none;
}
a:active {
    color:#428bca;
    text-decoration: none;
}
